HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/.mvn/
/uploads/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Variables ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
flyway.conf

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### OS specific ###
.DS_Store
Thumbs.db

### Front-end build ###
/frontend/node_modules/
/frontend/.pnp/
/frontend/.pnp.js
/frontend/dist/
/frontend/.vite/
/frontend/.env.development
/frontend/.env.production


# Ignore Terraform state files
terraform/*.tfstate
terraform/*.tfstate.backup
/*.tfstate
# Ignore Terraform variable files that might contain secrets
terraform/*.tfvars
terraform/*.auto.tfvars

# Ignore local override files
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Ignore Terraform cache and plugins
terraform/.terraform/

# Ignore crash logs
crash.log

# Ignore Terraform CLI config files
terraform.rc
.terraformrc
